.btn-primary {
    color: #fff !important;
    background-color: #2299dd;
    border-color: #16618c;
    border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background:  #2299dd 0 -15px;
    border-color: #16618c;
}
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #2299dd !important;
    border-color: #16618c;
}

a.btn {
    display: table;
}

a.btn-quizz:hover, a.btn-quizz:active, a.btn-quizz {
    background-color: #2299dd;
    margin: 0 auto 30px auto;
}

a:link, a:visited {
    color: #2299dd;
}

a:hover, a:active {
    color: #2299dd;
    text-decoration: none;
}

.share-fb {
    margin: 0 auto 20px auto;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-family: "bitterregular", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

h2 {
    font-family: "bitterregular", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.button-admin {
    background-color: #e8e8e8;
    padding-top: 6px;
}

.box-container {
    color: #e8e8e8 !important;
    background-color: rgba(50, 50, 50, 0.90);
    margin-bottom: 40px;
}

.quizz-header {
    background: #e8e8e8;
    border-bottom: 3px solid #2299dd;
    color: #333;
}

.quizz-description {
    font-family: "bitterregular";
    font-weight: 400;
    font-size: 1.5em;
    padding: 30px;
}

.countdown {
    font-size: 1.5em;
}

.bar-countdown {
    width: 100%;
    height: 5px;
    background: #45619D;
    transition: width 1s linear;
}

.radio input {
    margin: 0 !important;
    z-index: -1;
}

.radio label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding: 0;
}

.radio {
    display: inline;
    height: 60px;
    background: #F5F5F5;
    color: #000;
    text-align: center;
    vertical-align: middle;
}

.radio:active, .checked {
    color: #45619D;
    border: 2px solid #45619D;
}

.question-header {
    line-height: 65px;
}

.question-list {
    padding: 0;
}

.active-quizz {
    padding-bottom: 10px;
}

.footer {
    background-color: rgba(50, 50, 50, 0.90);
    margin-top: -40px;
    color: #e8e8e8 !important;
}