.box-container {
    color: #dcdcdc !important;
    background-color: #342E30;
    margin-bottom: 40px;
}

.btn-primary {
    color: #fff;
    background-color: #45619D;
    border-color: #3C5998;
    border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus {
    background:  #45619D 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #45619D !important;
    border-color: #3C5998;
}

a:link, a:visited {
    color: #61e8db;
}

a:hover, a:active {
    color: #5fe4d7;
    text-decoration: none;
}

a.btn {
    display: table;
}

a.btn-quizz:hover, a.btn-quizz:active, a.btn-quizz {
    color: #fff;
    margin: 15px auto;
}

h1 {
    font-family: "bitterregular", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    margin-bottom: 30px;
}

h2 {
    font-family: "bitterregular", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.quizz-header {
    background: #F5F5F5;
    border-bottom: 5px solid #666263;
    color: #000;
}

.quizz-description {
    font-family: "bitterregular";
    color: #FFF;
    font-weight: 400;
    font-size: 1.5em;
    padding: 30px;
}

.countdown {
    font-size: 1.5em;
}

.bar-countdown {
    width: 100%;
    height: 5px;
    background: #45619D;
    transition: width 1s linear;
}

.radio input {
    margin: 0 !important;
    z-index: -1;
}

.radio label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding: 0;
}

.radio {
    display: inline;
    height: 60px;
    background: #F5F5F5;
    color: #000;
    text-align: center;
    vertical-align: middle;
}

.radio:active, .checked {
    color: #45619D;
    border: 2px solid #45619D;
}

.question-header {
    line-height: 65px;
}

.question-list {
    padding: 0;
}

.active-quizz {
    padding-bottom: 10px;
}

button.btn-quizz { margin-bottom: 25px; }
