{% extends 'Admin/Template/ibox.html.twig' %}

{% block title %}Liste des utilisateurs des quizz{% endblock %}
{% block breadcrumb %}<li class="active">Liste des utilisateurs des quizz</li>{% endblock %}

{% block iboxTitle %}Liste des utilisateurs des quizz{% endblock %}
{% block iboxTools %}{% endblock %}

{% block iboxContent -%}
    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Nom du profil</th>
                <th>Email</th>
                <th>Photo de profil</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.profilName }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <img src="{{ entity.pictureProfilUrl }}" alt="{{ entity.profilName }}" width="50">
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun utilisateur trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts -%}
    <script type="text/javascript">
        $(function () {
            $('#modalDelete').on('show.bs.modal', function (e) {
                var button = $(e.relatedTarget);
                var href = button.data('href');
                var modal = $(this);
                modal.find('#js-remove-link').attr('href', href);
            })
        })
    </script>
{% endblock %}
