{% extends 'admin.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{% block iboxTitle %}{% endblock %}</h5>
                    <div class="ibox-tools">
                        {% block iboxTools %}{% endblock %}
                    </div>
                </div>
                <div class="ibox-content">
                    {% block iboxContent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
