{% extends 'front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body -%}
    <div class="jumbotron">
        <h1>Bienvenue sur Ceya</h1>
        <p class="lead">
            Félicitation! Vous avez terminé l'installation de Ceya. <br>
            Vous êtes actuellement sur la version 1.0 beta. <br>
            Merci d'avoir choisie notre solution, et bonne utilisation!
        </p>
        <p><a class="btn btn-lg btn-primary" href="https://github.com/Luwyn/ceya" role="button" target="_blank">Liens Github</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-12">
            <h3>Ceya vous simplifie la vie</h3>
        </div>
        <div class="col-lg-6">
            <h4>Des moduels pré-installés</h4>
            <p>
                Ne recommencer pas éternellement les mêmes paramètrages pour lancer votre projet. <br>
                Nous avons déjà installé et configuré pour vous :
            </p>
            <ul>
                <li>FosUser</li>
            </ul>
        </div>

        <div class="col-lg-6">
            <h4>Un template admin complet</h4>
            <p>Simplifier vous la vie avec un template complet et simple d'implémentation pour votre panel admin.</p>
        </div>
    </div>
{% endblock %}
