{% extends '@FOSUser/base_login.html.twig' %}

{% block title %}Validation{% endblock %}

{% block body %}
    <div class="text-warning">Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures.</div>
    <br>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary block full-width m-b">Connexion</a>
{% endblock %}
