{% extends 'front.html.twig' %}

{% block title %}Contact{% endblock %}

{% block breadcrumb %}
    <li class="active">Contact</li>
{% endblock %}

{% block body -%}
    <div class="container">
        <h2 class="title">Contact</h2>
        {{ render(url('front_get_content_block', {'slug': 'contact'})) }}
    </div>
{% endblock %}
