{% extends 'front.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block breadcrumb %}
    <li class="active">Mentions Legales</li>
{% endblock %}

{% block body -%}
    <div class="container">
        <h2 class="title">Mentions Légales</h2>
        {{ render(url('front_get_content_block', {'slug': 'legal_notice'})) }}
    </div>
{% endblock %}
