{% extends 'front.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
<div class="row box-container">
    <div class="col-md-12">
        {% if score is defined %}
            <h1>Merci pour votre participation !</h1>
            <p class="text-center">
                Nombre de bonnes réponses : {{ score }}
            </p>
            <p class="text-center">
                Vous recevrez une notification vous indiquant la fin du quizz et les résultats prochainement!
            </p>
        {% else %}
            <h1>Vous avez déjà participé à ce quizz</h1>
        {% endif %}

        <div class="col-md-12">
            <a href="{{ path('front_homepage') }}" class="center-block btn btn-primary btn-lg btn-quizz"><small class="glyphicon glyphicon-arrow-left"></small>&nbsp;Retour</a>
        </div>
    </div>
</div>
{% endblock %}
