{% extends 'front.html.twig' %}

{% block title %}CodeQuizz | Gains{% endblock %}

{% block body %}
    <div class="row box-container">
        <div class="col-md-12">
            <div class="quizz-header row">
                <h1 class="text-center">{{ name }}</h1>
                <h2 class="text-center">Gains possibles</h2>
            </div>
            <div class="quizz-description row">
                <p class="text-center">
                {{ gains|raw }}
                </p>
                <div class="col-md-12">
                    <a href="{{ path('front_homepage') }}" class="center-block btn btn-primary btn-lg btn-quizz"><small class="glyphicon glyphicon-arrow-left"></small>&nbsp;Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}