{% extends 'front.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <div class="row box-container">
        <div class="col-md-12">
            <h1>Résultats du quizz</h1>
        </div>
    </div>
{% endblock %}