{% extends 'front.html.twig' %}

{% block title %}CodeQuizz | Résultats{% endblock %}

{% block body %}
    <div class="row box-container">
        <div class="col-md-12">
            <div class="quizz-header row">
                <h1 class="text-center">{{ name }}</h1>
                <h2 class="text-center">Résultats du quizz</h2>
            </div>
            <div class="quizz-description row">
                <p class="text-center">
                    {% if user is defined and user is not null %}
                        {% if resultat == 1 %}
                            <div class="col-xs-12 text-center">
                                <img src="{{ asset('images/win.png') }}" alt="Victoire" width="128" height="128" class="img-rounded">
                            </div>
                            <div class="col-xs-12 text-center">
                                Félicitations! Vous avez gagné!
                            </div>
                        {% else %}
                            <div class="col-xs-12 text-center">
                                <img src="{{ asset('images/win.png') }}" alt="Victoire" width="128" height="128" class="img-rounded">
                            </div>
                            <div class="col-xs-12 text-center">
                                Nous sommes désolé.. Vous avez perdu..
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="col-xs-12 text-center">
                            Vous n'avez pas participé à ce quizz !
                        </div>
                    {% endif %}
                </p>
                <div class="col-md-12">
                    <a href="{{ path('front_homepage') }}" class="center-block btn btn-primary btn-lg btn-quizz"><small class="glyphicon glyphicon-arrow-left"></small>&nbsp;Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}